@page "/EmailHistory"
@inherits EmailHistoryBase
<h3>EmailHistory</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Subject</th>
            <th scope="col">Sender</th>
            <th scope="col">Recipients</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (int i in new List<int> { 1,2,3,4})
        {
            <tr>
                
                <th scope="row">@i</th>
                <td>@i</td>
                <td>@i</td>
                <td>@i</td>
                <td>@i</td>
                <td>00:00</td>
            </tr>
        }
    </tbody>
</table>


