@page "/campaigns"

@using CRM_Model_Library

@inject IMailChimpController _controller

<h2>Sent Campaigns</h2>

@if (campaigns is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Sent Date</th>
                <th>Emails Sent</th>
                <th>Create Time</th>
                <th>Delivery Status</th>
                <th>Social Card</th>
                <th>ListId</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var campaign in campaigns)
            {
            <tr>
                <td>@campaign.WebId</td>
                <td>@campaign.SendTime</td>
                <td>@campaign.EmailsSent</td>
                <td>@campaign.CreateTime</td>
                <td>@campaign.DeliveryStatus</td>
                <td>@campaign.SocialCard</td>
                <td>@campaign.Recipients.ListId</td>
                <! Fix target>
                <td> <a href="@campaign.ArchiveUrl" target="_blank">View &raquo;</a></td>
            </tr>
            }
        </tbody>
    </table>
}


@code {
    //TODO: campaign.ArchiveUrl target fixen
    private IEnumerable<MailChimp.Net.Models.Campaign> campaigns;

    protected override async Task OnInitializedAsync()
    {
        campaigns = await _controller.SentCampaigns();
    }
}

