@page "/templates"

@using CRM_Model_Library

@inject IMailChimpTemplateController _controller


@inject ICampaignController _campaignController
@inject IMailChimpListController _listController

<h1>Templates</h1>

@if (templates is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Created By</th>
                <th>Name</th>
                <th>Id</th>
                <th>Type</th>
                <th>Thumbnail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var template in templates)
            {
                <tr>
                    <td>@template.CreatedBy</td>
                    <td>@template.Name</td>
                    <td>@template.Id</td>
                    <td>@template.Type</td>
                    <td>@template.Thumbnail</td>
                    <td> <a href="https://us7.admin.mailchimp.com/templates/edit?id=@template.Id" target="_blank">View &raquo;</a></td>

                </tr>
            }
        </tbody>
    </table>
}

@code{
    // https://us7.admin.mailchimp.com/templates/edit?id=386147
    // <td> <a href="@template.ShareUrl.ToString()" target="_blank">View &raquo;</a></td>
    //  <td> <a class="btn btn-primary" href="update_campaign/@campaign.Id.ToString()" role="button" style="float:left;margin-right: 1%;">Edit</a></td>
    private IEnumerable<MailChimp.Net.Models.Template> templates;

    protected override async Task OnInitializedAsync()
    {
        templates = await _controller.GetAllTemplates();
        //await _listController.AddMemberToList2();
        await _campaignController.SendCampaign(new MailChimp.Net.Models.Campaign());
    }
}