@page "/update_campaign/{Id}"

@using CRM_Model_Library
@using MailChimp.Net;
@using CRM_Blazor_Server.ViewModels

@inject IMailChimpController _controller
@inject IMailChimpListController _listController
@inject IMailChimpTemplateController _templateController
@inject ILableData _lableController
@inject ILabelCampaignLinkData _lableCampaignLinkController
@inject ICampaignController _campaignController
@inject NavigationManager NavigationManager

@if (campaign is null || newCampaign is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>Edit @campaign.Settings.Title</h3>
    <EditForm Model="newCampaign" OnValidSubmit="AddOrUpdateCampaign">
        <DataAnnotationsValidator />
        <div class="form-group">
            <lable>Campaign Title</lable>
            <InputText class="form-control" @bind-Value="@newCampaign.Title"></InputText>
        </div>
        <div class="form-group">
            <lable>Subject</lable>
            <InputText class="form-control" @bind-Value="@newCampaign.Subject"></InputText>
        </div>
        <div class="form-group">
            <lable>PreviewText</lable>
            <InputText class="form-control" @bind-Value="@newCampaign.PreviewText"></InputText>
        </div>
        <div class="form-group">
            <lable>From Name</lable>
            <InputText class="form-control" @bind-Value="@newCampaign.FromName"></InputText>
        </div>
        <div class="form-group">
            <lable>From Email</lable>
            <InputText class="form-control" @bind-Value="@newCampaign.FromEmail"></InputText>
        </div>
        <div>
            <div><lable>Add Labels</lable></div>
            @if (labels == null && lableCampaignLinks == null)
            {
                <p>No available lablels...</p>
            }
            else
            {
                @foreach (var label in labels)
                {
                    if (IsLabelInCampaign(label.LabelId))
                    {
                        <input type="checkbox" @onchange="eventArgs => { CheckBoxClicked(label, eventArgs.Value); }" style="font-size: 150%; font-family: Times New Roman, Times, serif" checked />@label.LabelName<br />
                    }
                    else
                    {
                        <input type="checkbox" @onchange="eventArgs => { CheckBoxClicked(label, eventArgs.Value); }" style="font-size: 150%; font-family: Times New Roman, Times, serif" />@label.LabelName<br />
                    }
                }
            }
        </div>
        <br />
        <div />
        <ValidationSummary />
        <div>
            @if (campaign.Settings.TemplateId == 0)
            {
                <a @onclick="@AddTemplateToCampaign" href="https://us7.admin.mailchimp.com/templates/create-template/" target="_blank">Add Template &raquo;</a>
            }
            else
            {
                <a @onclick="@AddTemplateToCampaign" href="https://us7.admin.mailchimp.com/campaigns/wizard/neapolitan?id=@campaign.WebId" target="_blank">Edit Template &raquo;</a>
            }
        </div>
        <div>
            <button @onclick="@save" type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-primary" href="#" role="button">Back</a>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public string Id { get; set; }
    //<a href="https://us7.admin.mailchimp.com/templates/create-template/"  class="btn btn-primary">Add Template</a>

    //<img src="@GetThumbnail()" style="border:1px solid black;" width="120" height="151">
    private static MailChimp.Net.Models.Campaign campaign;
    private static DisplayCampaignModel newCampaign = new DisplayCampaignModel();
    private static MailChimp.Net.Models.List memberList;
    private static IEnumerable<MailChimp.Net.Models.Template> templates;
    private List<LableModel> labels;
    private List<LableCampaignLink> lableCampaignLinks;

    private int templateId;

    //private void GetLablesOfCampaign()
    //{
    //    foreach (var label in labels)
    //    {
    //        campaign.Settings.la
    //    }
    //}

    private bool IsLabelInCampaign(int labelId)
    {
        foreach (var link in lableCampaignLinks)
        {
            if (link.LabelId == labelId)
            {
                return true;
            }
        }
        return false;
    }

    private async Task AddTemplateToCampaign()
    {
        var currentTemplate = await _templateController.GetLatestTemplate();
        var latestTemplate = currentTemplate;
        while (currentTemplate == latestTemplate)
        {
            latestTemplate = await _templateController.GetLatestTemplate();
        }
        campaign.Settings.TemplateId = latestTemplate.Id;
        await _campaignController.UpdateCampaign(campaign);
        save();
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);

    }

    public void save()
    {
        _lableCampaignLinkController.DeleteAllLabelsFromCampaign(campaign.Id);
        foreach (var link in lableCampaignLinks)
        {
            _lableCampaignLinkController.AddLableCampaignLink(link);
        }
    }

    public void CheckBoxClicked(LableModel label, object checkedvalue)
    {
        if ((bool)checkedvalue)
        {
            lableCampaignLinks.Add(new LableCampaignLink { CampaignId = campaign.Id, LabelId = label.LabelId });
        }
        else
        {
            lableCampaignLinks.RemoveAll(r => r.LabelId == label.LabelId);
        }
    }

    private async Task<bool> GetThumbnail()
    {
        var thumbnail = await _templateController.GetThumbnailById(templateId);
        return true;
    }

    private async Task EditDuplicateTemplate(int templateId)
    {
        var duplicatetemplate = await _templateController.GetTemplateById(templateId);

    }

    protected override async Task OnInitializedAsync()
    {
        campaign = await ApiKeyMailChimp.Manager.Campaigns.GetAsync(Id);
        lableCampaignLinks = await _lableCampaignLinkController.GetLableCampaignLinksFromCampaign(campaign.Id);
        labels = await _lableController.GetLabels();
        templates = await _templateController.GetAllTemplates();
        memberList = await _listController.GetDetailOfList(campaign.Recipients.ListId);
        newCampaign.Title = campaign.Settings.Title;
        newCampaign.Subject = campaign.Settings.SubjectLine;
        newCampaign.PreviewText = campaign.Settings.PreviewText;
        newCampaign.FromName = campaign.Settings.FromName;
        if (memberList.CampaignDefaults is null)
        {
            newCampaign.FromEmail = "";
        }
        else
        {
            newCampaign.FromEmail = memberList.CampaignDefaults.FromEmail;
        }
    }

    //protected async Task GetCampaignAudience()
    //{
    //    list = await _listController.GetDetailOfList(campaign.Recipients.ListId);
    //}

    private async Task AddOrUpdateCampaign()
    {
        campaign.Settings.Title = newCampaign.Title;
        campaign.Settings.SubjectLine = newCampaign.Subject;
        campaign.Settings.PreviewText = newCampaign.PreviewText;
        campaign.Settings.FromName = newCampaign.FromName;
        memberList.CampaignDefaults.FromEmail = newCampaign.FromEmail;

        await ApiKeyMailChimp.Manager.Lists.AddOrUpdateAsync(memberList);
        await ApiKeyMailChimp.Manager.Campaigns.AddOrUpdateAsync(campaign);
    }
    //<a class="btn btn-primary" href="email_design" role="button">Choose Template</a>
}
