@page "/"

@using CRM_Model_Library

@inject IMailChimpController _controller


<h1>Campaigns</h1>

<a class="btn btn-primary" href="/create_mail" style="float:left;margin-right: 1%;">Create Campaign</a>

@if (campaigns is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Sent on</th>
                <th>Created</th>
                <th>From</th>
                <th>View mail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var campaign in campaigns)
            {
            <tr>
                <td>@campaign.Settings.Title</td>
                <td>@campaign.SendTime</td>
                <td>@campaign.CreateTime</td>
                <td>@campaign.Settings.FromName</td>
                <td> <a href="@campaign.ArchiveUrl" target="_blank">View &raquo;</a></td>
                @if (campaign.Status != "sent")
                {
                    <td> <a class="btn btn-primary" href="update_campaign/@campaign.Id.ToString()" role="button" style="float:left;margin-right: 1%;">Edit</a></td>
                }
                else
                {
                    <td> <a class="btn btn-primary" href="https://us7.admin.mailchimp.com/campaigns/show?id=@campaign.WebId" target="_blank" role="button" style="float:left;margin-right: 1%;">Report</a></td>
                }

            </tr>
            }
        </tbody>
    </table>
}

@code{
    //TODO: campaign.ArchiveUrl target fixen
    private IEnumerable<MailChimp.Net.Models.Campaign> campaigns;

    protected override async Task OnInitializedAsync()
    {
        campaigns = await _controller.SentCampaigns();
    }
}
